
.title{
    font-family: cursive;
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding-right: 25px;
}
body{
    background-color: white;
    color: black;
    
}

a{
    text-decoration: none;
     color: black;
}
header{
    /* background-color: rgb(142, 139, 139); */
    background-color: #e57921;
    color: black;
    position: sticky;
    top:0px;
    z-index: 3;
}
footer{
    /* background-color: rgb(142, 139, 139); */
    background-color: #e57921;
    color: black;
    
}