.social {
    margin-left: 17px;
    font-size: x-large;
    margin-right: 15px;
    
}

.bi-youtube {
    color: red;
}

.bi-facebook {
    color: blue;
}

.bi-instagram {
    color: #DD2A7B;
}
.bi-geo-alt-fill{
    color: red;
}
.bi-globe{
    color: #4fc3f7;
}

.ci{
     margin-right: 25px !important; 
     font-size: xx-large;
     font-weight: bolder;
     

}

.l-d {
    list-style: none;
}

.mrp {
    text-decoration: line-through;

}

.rs {
    font-size: large;
    font-weight: bolder;


}

.price {
    line-height: 4;
    display: flex;
}


.card {
    border: 2px solid transparent;
    overflow: hidden;
    transition: all 0.35s ease;
    border-radius: 12px;
}


.card img {
    transition: transform 0.4s ease;
}


.card .btn {
    transition: all 0.3s ease;
}
i{
    margin-left: 25px;
}



.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
    border-color: #000;
}


.card:hover img {
    transform: scale(1.08);
}




.card:hover .btn {
    background: #000;
    color: #fff;
}


.offer_img {
    border: 2px solid transparent;
    overflow: hidden;
    transition: all 0.35s ease;
    border-radius: 12px;
}

.offer_img:hover {
    transform: scale(1.08);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
    border-color: #000;
    margin-top: 10px;
}
.bi-gem{
    margin-right: 10px;
   color: #4fc3f7;
  text-shadow: 0 0 8px rgba(212,175,55,0.6);
}
.bi-stars{
    color: gold;
     text-shadow: 0 0 8px rgba(212,175,55,0.6);
}
.bi-tags-fill{
    color: red;
}
