

.title{
    font-family: cursive;
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding-right: 25px;
}
body{
    background-color: white;
    color: black;
    
}
.card-title {
    background-color: rgb(142, 139, 139);
}
a{
    text-decoration: none;
     color: black;
}
header{
    background-color: rgb(142, 139, 139);
    color: black;
}
footer{
    background-color: rgb(142, 139, 139);
    color: black;
}